LLM_API_KEY="" #apply at https://aihubmix.com?aff=Gp54
LLM_API_BASE=https://aihubmix.com/v1
PRIMARY_MODEL=o3-mini
VL_MODEL=gpt-4o-mini

## belowing is optional, go as you need
# VERBOSE=true ##for detail log info. If not need, remove this item.
# CONCURRENT_NUMBER=8 ##make sure your llm provider supports it(leave default is 1)
